//Font Family
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

// BASE
//Reset
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
	color: cadetblue;
	background-color: lightyellow;
	transition: all .5s linear;

	&:hover{
		background-color: yellow;
	}
}

// Titulos
h1,
h2{
	font-weight: normal;
	text-align: center;
}

//ESTRUCTURA

body{
	background: #fff;
	color: #000;
	font-family: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
}

.container{
	max-width: 980px;
	margin: auto;
	//centro el contenido "con margenes" en mobile y hasta llegar a max-with
	width: 98%;
	padding-bottom: 3em;
}


//HEADER

header{
	padding-top: 2em;
	text-align: center;

	img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		box-shadow: 0 0 0 5px #fff,
					0 0 0 7px #ccc,
					0 0 0 8px yellow;
	}

	h2{
		font-size: .8em;
	}
}

hgroup{
	padding-top: 2em;
}


// BODY

.perfil{
	background: lightblue;
	border-radius: 5px;
	padding: 1em;

	@media screen and (min-width: 600px){
		max-width: 750px;
		margin-right: auto;
		margin-left: auto;
		font-size: 1.2em;
		font-weight: 300;
	}
}


//Trabajos
.work__list{
	text-align: center;
	width: 100%;
}
.work__items{
	margin: 3em 0;

	//BUG: los a se ven chicos
	//Podria agrandar los a hasta la vista web a 1.1em
	//despues seguirian con 1em (default)

	a{

		&:active{
			transform: scale(.95);
		}

		@media all and (min-width: 800px){
			position: relative;

			&:after{
				content: attr(href);
				position: absolute;
				right: 1;
				top: 0;
				// width: 100%;
				// height: 100%;
				background-color: rgba(#000,.4);
				color: #fff;
				font-size: .8em;
				line-height: 1.5em;
				padding-right: .5em;
				padding-left: .5em;
				border-radius: .2em;
				box-shadow: 2px 2px 5px rgba(#222, .6);
				text-shadow: 0 0 2px rgba(#000, .7);
				display: inline-block;
				margin-left: 1em;
				transition: all 2.5s ease;
				opacity: 0;
			}

			&:hover{

				&:after{
					opacity: 1;
				}
			}
		}
	}
}

.contacto{

	p{
		background: bisque;
		border-radius: 5px;
		padding: 1em;
		margin-top: 3em;

		@media screen and (min-width: 600px){
			max-width: 750px;
			margin-right: auto;
			margin-left: auto;
			font-size: 1.2em;
			font-weight: 300;
		}
	}
}